@import 'styles/theme.scss';

.button {
  position: relative;
  background: $primary-cta;
  color: $white;
  font-family: $font-bold;
  border: 0px;
  padding: 14px 20px;
  border-radius: 50px;
  width: 100%;
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.1rem;
  &:focus {
    outline: unset !important;
  }
  &:disabled {
    opacity: .2;
    cursor: not-allowed;
  }
}