@import 'styles/theme.scss';

.addRow {
  background-color: $secondary-cta;
  width: auto;
  padding: 5px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.addRowIcon {
  margin-right: 5px;
  margin-top: -2px;
  font-size: 1rem !important;
}

.addRowDescription {
  font-size: .5rem;
}

.addRowDisabled {
  width: unset;
  opacity: unset !important;
  color: $text-primary-color;
  font-family: $font;
  background-color: unset;
  padding: unset;
}

.addDisabledRowDescription {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  text-transform: unset;
}
