// *** OLLIES THEME *** //

$purple: #3f2b4f;
$red: #ff5543;
$blue: #027b9c;
$feather: #b2c1d9;
$success: #2fc0b2;
$warm: #aaa;

// ** MY GREYS ** //
$white: #fff;
$grey-invisible: #fafbfc;
$grey-bg-contrast: #fff8f5;
$grey-bg: #ebeef0;
$grey-field: #acacbc;
$grey-text: #777;
$grey-blue: #6c7480;
$grey-sub: #4b5058;
$grey-ultra: #333;

// ** CTA ** //
$primary-cta: $red;
$secondary-cta: $purple;
$disabled-cta: #ccc;

// ** COPY ** //
$text-primary-color: $grey-ultra;
$text-secondary-color: $grey-text;
$placeholder: $warm;

// ** BACKGROUNDS ** //
$background-primary-color: $white;
$background-secondary-color: $grey-bg-contrast;
$background-dark-color: $purple;












// ** FONTS ** //
@font-face {
  font-family: "GT Walsheim Pro Bold"; 
  src: url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.eot"); 
  src: url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/f7afe66fe9d022d7dc7fd57e4adc078f.svg#GT Walsheim Pro Bold") format("svg");
}
@font-face {
  font-family: "GT Walsheim Regular"; 
  src: url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.eot"); 
  src: url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/768446cc3d04d6dd3289ae1715bdb682.svg#GT Walsheim Regular") format("svg");
}
$font: 'GT Walsheim Regular', sans-serif;
$font-bold: 'GT Walsheim Pro Bold', sans-serif;

body {
  font-family: $font;
}

.lightBackground {
  background-color: $background-secondary-color;
}