@import 'styles/theme.scss';

.inputWrapper {
    position: relative;
    padding-bottom: 20px;
    +.inputWrapper {
        margin-top: 20px;
    }
}

.fieldLabel {
    font-size: 1rem;
    font-family: $font;
}

.formInput {
    width: inherit;
    line-height: 31px;
    color: $purple;
    border: none;
    background: transparent;
    border-bottom: 1px solid $grey-field;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    outline: none;
    &:focus {
        opacity: 1;
    }

    /* Change Autocomplete styles in Chrome*/
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
        box-shadow: 0 0 0 30px $background-secondary-color inset !important;
    }
}

.inputError {
    position: absolute;
    top: 3px;
    right: 0;
    color: $red;
    font-size: .875rem;
}