@import 'styles/theme.scss';

.signUpForm {
  text-align: left;
  form {
    margin: 20px;
    input {
      width: 100%;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      li {
        display: flex;
        flex-direction: row;
      }
    }

  }
  
}

.petFields {
  display: flex;
  flex-direction: column;
}

.petFieldsRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > div {
    margin-top: unset !important;
    width: 100%;
    &:nth-child(4) {
      > button {
        cursor: url("./../../assets/svg/paw.svg"), auto;
      }
    }
    + div {
      margin-left: 10px;
    }
  }
  @media only screen and (min-width: 769px){
    flex-direction: row;
    > div {
      flex-grow: 5;
      flex-shrink: 1;
      flex-basis: 30px;
      
      &:first-child {
        flex-grow: 8;
      }
      &:nth-child(4) {
        flex-grow: 1;
      }
    }
  }
}

.formCTA {
  margin: 0 auto;
  width: 200px;
}