@import './styles/theme.scss';

.signUp {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 1200px;
    // MOBILE FIRST. FOR LARGER SCREENS, USE :
    @media only screen and (min-width: 769px){
        flex-direction: row;
    }
    > div {
        flex: 1;
    }
}

.heroImage {
    width: 100%;
}