@import 'styles/theme.scss';



.nav {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px 0px $grey-bg;
    padding: 0 15px;
    position: relative;
}

.navLogo {    
    background: url(./../../assets/svg/ollie.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 150px;
    height: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}