@import 'styles/theme.scss';



.footer {
    background-color: $background-dark-color;
    color: $grey-field;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: $font;
    p {
        font-size: .875rem;
        a {
            color: $grey-field;
            text-decoration: unset;
        }
    }
}

.header {
    font-family: $font-bold;
    text-transform: uppercase;
    font-size: 1rem;
}